// colors
$lightBlue: #acb7cd;
$white: #fff;
$midnight: #04060b;
$lighterMidnight: #181e30;
$dimBlue: #2e3752;
$purple: #305bf5;

// margin sizes
$margin-small: 4px;
$margin-medium: 8px;
$margin-large: 16px;
$margin-xlarge: 24px;
$margin-xxlarge: 36px;
$margin-xxxlarge: 48px;
$margin-enormous: 76px;

// padding sizes
$padding-small: 4px;
$padding-medium: 8px;
$padding-large: 16px;
$padding-xlarge: 24px;

// font sizes
$font-small: 14px;
$font-medium: 16px;
